.test{
  border-radius: 30px;
  background: #000; 
}
.mt-6 {
  margin-top: 4.7rem !important;
}
@media (min-width: 2px) {
  .mt-6 {
  margin-top: 4.35rem !important;
}
}
@media (min-width: 172px) {
  .mt-6 {
  margin-top: 4.35rem !important;
}
}
@media (min-width: 374px) {
  .mt-6 {
  margin-top: 4.35rem !important;
}
}

@media (min-width: 576px) {
  .mt-6 {
  margin-top: 4.35rem !important;
}
}

@media (min-width: 768px) {
  .mt-6 {
  margin-top: 4.35rem !important;
}
}

@media (min-width: 992px) {
 .mt-6 {
  margin-top: 4.7rem !important;
}
}

@media (min-width: 1200px) {
  .mt-6 {
  margin-top: 4.7rem !important;
}
}

#regTitle{
  text-align: center;
  font-weight: bold;
}

.col-9 {
/*  background: #5cb85c;
*/  border-left:1px solid #292b2c;
  border-right:1px solid #292b2c;
}

/* Register STYLE */

.containerTran {
    position:absolute;
    width:600px;
    height:600px;
    left: 50%;
    top:50px;
    transform: translate(-50%, 0);
    z-index: 1;
}

#background {
    position:absolute;
    top:0px;
    width: 600px;
    height: 600px;
    background-color: black;
    border:1px solid black;
    border-radius: 20px;
    z-index: -1;
    opacity: 0.7;
    left: 50%;
    transform: translate(-50%, 0);
}

.containerTran input{
  margin:15px;
  margin-left:140px;
}

.containerTran span{
  display: block;
  font-weight: bold;
  font-style:italic;
  color:white;
  text-align:left;
  margin-left:140px;
  text-shadow: 1px 2px 0px black;
}

/* LOGIN STYLE */

.containerTranLogin {
    position:absolute;
    width:600px;
    height:600px;
    left: 50%;
    top:50px;
    transform: translate(-50%, 0);
    z-index: 1;
}

#background {
    position:absolute;
    top:0px;
    width: 600px;
    height: 600px;
    background-color: black;
    border:1px solid black;
    border-radius: 20px;
    z-index: -1;
    opacity: 0.7;
    left: 50%;
    transform: translate(-50%, 0);
}

.containerTranLogin input{
  margin:15px;
  margin-left:140px;
}

.containerTranLogin span{
  display: block;
  font-weight: bold;
  font-style:italic;
  color:white;
  text-align:left;
  margin-left:140px;
  text-shadow: 1px 2px 0px black;
}
